.buttonContainer {
    /* Placer knappen med container, resten er placeret relativt til container !!!BUTTONCONTAINER ER KUN TIL STOR KNAP UNDER PHOTOAREA!!!! */
    position: relative;
    width: 700px;
    height: 110px;
    left: 50%;
    transform: translateX(-50%);
    top: 40vh;
    transition: 0.05s;
}

.buttonContainer:hover {
    scale: 1.01;
    cursor: pointer;
}

.btnSubmit {
    height: 100%;
    width: 100%;
    background-color: #1f2766;
    border: none;
    border-radius: 2px;
    position: absolute;
    font-size: 45px;
    font-family: "Playwrite US Trad";
    color: #EEC25F;
    display: flex;
    justify-content: end;
    align-items: end;
    line-height: 1;
    padding: 5px 180px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    cursor: pointer;
}

.vertRibbon{
    position: absolute;
    left: 200px;
    width: 20px;
    height: 100%;
    background-color: #96160F;
}
.horiRibbon{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 30px;
    background-color: #96160F;
}

.ribbonBow {
    position: absolute;
    top: 20px;
    left: 200px;
    width: 140px;
    transform: translate(-44%, -30%);
}
.ribbonBow2 {
    position: absolute;
    top: 20px;
    left: 49%;
    width: 140px;
    transform: translate(-44%, -30%);
}

.confirmOrDelete {
    height: 100%;
    width: 100%;
    background-color: #1f2766;
    border: none;
    border-radius: 2px;
    position: absolute;
    font-size: 45px;
    font-family: "Playwrite US Trad";
    color: #EEC25F;
    display: flex;
    justify-content: space-between;
    align-items: end;
    line-height: 1;
    padding: 5px 70px;
    padding-right: 100px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}

.vertRibbon2 {
    position: absolute;
    left: 49%;
    width: 20px;
    height: 100%;
    background-color: #96160F;
}

.prevNextContainer {
    /* placerer frem og tilbage knappers højde på side - padding påvirker hvor langt inde på siden de står*/
    position: relative;
    top: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 12%;
}

.prevFilter:hover, .nextFilter:hover {
    cursor: pointer;
    scale: 1.04;
}

.prevFilter, .nextFilter {
    padding: 20px 25px;
    padding-top: 30px;
    position: relative;
    border-radius: 3px;
    border: none;
    background-color: #1f2766;
    transition: 0.05s;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

.ribbonBow3 {
    position: absolute;
    width: 70px;
    top: -30px;
    left: -2px;
}
