.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 700px;
    margin: auto;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
}
