/* container kuglerne placeres i */
.baubles {
  position: relative;
  width: 200px;   
  height: 200px;
}

/* laver kuglen */
.bauble {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Laver et pseudoelemnt som styles til at være snoren */
.bauble::before {
  content: "";
  position: absolute;
  top: -120px;
  width: 2px;
  height: 120px;
  background: #e3e3e3;
}

/* styling af grå kugle */
.bauble.grey {
  background: #dcdcdc;   
  z-index: 2;
  left: 90px;
  top: 110px;
}

/* styling af gul kugle */
.bauble.yellow {
  background: #f3c552;
  left: 150px;
  top: 60px;
}